@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
             url("Montserrat-VariableFont_wght.woff2")format("woff2")
             url("Montserrat-VariableFont_wght.woff")format("woff");
            
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
             url("Montserrat-Italic-VariableFont_wght.woff2")format("woff2")
             url("Montserrat-Italic-VariableFont_wght.woff")format("woff");
            
  }